/* src/styles/MapLegend.css */
.map-legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.map-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.map-legend li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
}
